body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.project {
  width: 40%;
  margin: auto;
}

header>h1 {
  text-align: center;
}

section>button {
  font-size: 25px;
  background-color: #782ee9;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 7px;
  width: 170px;
  cursor: pointer;
}

section {
  display: flex;
  justify-content: space-between;
}

section>input {
  font-size: 25px;
  width: 65%;
  border-radius: 7px;
  cursor: pointer;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bed400;
  margin-top: 20px;
}

.text {
  font-size: 24px;
  flex: 1;
  margin-left: 10px;
}

.delete>button {
  font-size: 24px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bed400;
  margin-top: 20px;
}

.star>button {
  font-size: 30px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.section2>.star2>button {
  color: #ebff36;
}

.disable {
  background-color: gray;
}